.contenedor{
    background: rgb(182, 14, 140);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 50px auto 50px / 1fr 2fr;
      /* marco */
    gap: 10px;
    grid-template-areas: 
       "header header header header"
       "menuu contenido area1 area1"
       "menuu contenido area2 area2"
       "footer footer footer footer"
}

.header{
    background: greenyellow;
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "logo header header salir"
}

.logo{
    background: palevioletred;
    grid-area: logo;
}
.salir{
    background-color: rgb(100, 141, 216);
    grid-area: salir;
}
.menu{
    background: red;
    grid-area: menuu;

}
.contenido{
    background: yellow;
    grid-area: contenido;
}
.footer{
    background: blue;
    grid-area: footer;
    
}
.area1{
    background-color: aqua;
    grid-area: area1;
}
.area2{
    background-color: chocolate;
    grid-area: area2;
}