<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=[device-width], initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if categoria%}
    <h1>{{titulo}}</h1>
    {%else%}
    <h1>No hay titulo</h1>
    {%endif%}
    
    {% extends 'app/base.html' %} {% block contenido %}

<h1>Categorias</h1>
<ul id="lista-categorias">
  {% for categoria in categorias %}
  <li>
    <a href="{% url 'app:categoria' categoria.id %}"></a>
  </li>
  {% endfor %}
</ul>

{% endblock %} {% block titulo %} Categorias {% endblock %}
</body>
</html>